html{
	background: url(http://bcsd.com/nts/files/2014/08/apple-on-desk.gif) no-repeat center center fixed; 
		-webkit-background-size: cover;
	
		-o-background-size: cover;
		background-size: cover;
}