/* this is for the backround for student page*/
html{
	background: url(http://bcsd.com/nts/files/2014/08/apple-on-desk.gif) no-repeat center center fixed; 

		background-size: cover;
}
.texts{
color: white;
}