

table, th, td{
    border: 1px solid black;
	width: 20px;
	height:40px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td{
    
	text-align: right;
 vertical-align: text-top;
}

