

table, th. td{
    border: 10px solid black;
	width: 9px;
	height:40px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td{
    
	text-align: right;
 vertical-align: text-top;
}

