/* this is for the backround for the teacher login  */
html{
	background: url(http://cdn.phys.org/newman/gfx/news/hires/homeworkcopy.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
	
		-o-background-size: cover;
		background-size: cover;
}

